<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: "Arial", sans-serif;
        font-size: 16px;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      ul {
        margin-bottom: 20px;
      }

      li {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      a {
        color: #555;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.2s ease;
      }

      a:hover {
        background-color: #555;
        color: #fff;
      }

      .bg-purple {
        background-color: #8b5cf6;
      }

      .bg-red {
        background-color: #ef4444;
      }

      .bg-green {
        background-color: #10b981;
      }

      .text-purple {
        color: #8b5cf6;
      }

      .text-red {
        color: #ef4444;
      }

      .text-green {
        color: #10b981;
      }
    </style>
  </head>

  <body class="flex flex-col justify-center items-center min-h-screen bg-gray-100">
    <nav class="py-4 px-8 bg-purple-500 text-white w-full fixed top-0 z-10">
      <ul class="flex justify-between items-center">
        <li>
          <a href="/home" class="font-bold text-lg">Home</a>
        </li>
        <li>
          <a href="/sport" class="font-bold text-lg">Back</a>
        </li>
      </ul>
    </nav>
    <div class="container w-3/6 h-screen px-6 py-8 bg-white rounded-lg shadow-lg mt-16 overflow-y-scroll">
      <h1 class="text-4xl font-bold mb-4 text-purple-600">
        Relative Popularity of Sports
      </h1>
      <form action="/adminreport" method="post" class="mb-8">
         
        <div class="space-y-4">
          <div>
            <label for="startdate" class="block text-gray-700 font-bold mb-2">
              From Date
            </label>
            <input
              type="date"
              required
              name="startdate"
              id="startdate"
              class="w-full px-4 py-2 rounded-lg border border-gray-400 focus:outline-none focus:border-purple-500"
            />
          </div>
          <div>
            <label for="enddate" class="block text-gray-700 font-bold mb-2">
              To Date
            </label>
            <input
              type="date"
              required
              name="enddate"
              id="enddate"
              class="w-full px-4 py-2 rounded-lg border border-gray-400 focus:outline-none focus:border-purple-500"
            />
          </div>
          <div>
            <button
              type="submit"
              class="w-full py-2 px-4 bg-purple-500 hover:bg-purple-600 text-white rounded-lg focus:outline-none focus:shadow-outline-purple"
            >
              Search
            </button>
          </div>
        </div>
      </form>
    
      <div class="max-w-full">
        <% if (bol) { %>
        <% if(sessionsPlayed.length > 0) { %>
    
        <h2 class="text-2xl font-bold mb-4">Sport Counts</h2>
        <ul class="border border-gray-300 rounded p-4">
          <% Object.entries(sports).forEach(([sportName, count]) => { %>
          <li class="flex justify-between py-2">
            <span><%= sportName %></span>
            <span><%= count %></span>
          </li>
          <% }); %>
        </ul>
    
        <h3 class="text-2xl font-bold my-4">Sessions Played</h3>
        <ul>
          <% for (var i=0; i < sessionsPlayed.length; i++) { %>
          <li>
            <div class="flex rounded hover:bg-purple-50 items-center my-4 px-4 py-2">
              <span class="mr-6">
                <%= new Date(sessionsPlayed[i].when).toLocaleString('en-GB', {day:'2-digit', month:'2-digit', year:'numeric', hour:'2-digit', minute:'2-digit'}) %>
              </span>
              <% if (sessionsPlayed[i].count === 0) { %>
              <p class="text-red-500 font-bold">Slot Full</p>
              <% } else if (sessionsPlayed[i].count === 1) { %>
              <p class="text-yellow-500 font-bold">Last Slot</p>
              <% } else { %>
              <p class="text-green-500 font-bold">
                <%= sessionsPlayed[i].count %> slots
              </p>
              <% } %>
              <span class="ml-auto font-semibold">
                <%= sessionsPlayed[i].Sport.sportname %>
              </span>
            </div>
          </li>
          <% } %>
        </ul>

        <% } else { %>
        <p>No sessions played between selected dates.</p>
        <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
